<div class="forgot-password-wrapper">
    <div class="header-container">
      <span class="title-text">
          Viztoc
      </span>
      <span class="index">
        0.2
      </span>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="auth-form-wrapper" [style.padding]="isEmailSend ? '20px 45px' : ''">
        <div class="forgot-label">
            Forgot Password
        </div>
        <div class="forgot-password-instruction" *ngIf="!isEmailSend">
            Please, enter your email address and follow the link in the email
        </div>
        <div class="forgot-password-instruction" *ngIf="isEmailSend">
            A link to reset your password has been successfully sent. Please check
            <b>{{ forgotPasswordForm.get('email')?.value }}</b> in a few minutes.
        </div>
        <div class="control-wrapper" *ngIf="!isEmailSend">
          <div class="control-name">
            <div class="control-text">Email:</div>
          </div>
          <div class="field-wrapper">
            <div>   
                <kendo-textbox #passwordInput formControlName="email"
                    [ngClass]="{'k-value': forgotPasswordForm.get('email')?.value !== '' &&
                                            (!forgotPasswordForm.get('email')?.errors?.email ||
                                                !forgotPasswordForm.get('email')?.touched)}">
                  <ng-template kendoTextBoxSuffixTemplate *ngIf="forgotPasswordForm.get('email')?.value !== ''">
                    <button type="button" kendoButton fillMode="clear"
                            (click)="forgotPasswordForm.controls.email.setValue('')" tabindex="-1">
                      <span class="k-icon k-i-x"></span>
                    </button>
                  </ng-template>
                </kendo-textbox>
                <div class="email-error" *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.errors?.email">
                    The email is incorrect. Please, enter a valid email adress registered on Viztoc.             
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button kendoButton class="vs-secondary" *ngIf="isEmailSend" (click)="onResetPassword()" tabindex="0">
            Ok
        </button>
        <button type="button" kendoButton class="vs-secondary" *ngIf="!isEmailSend" (click)="onCancel()" tabindex="1">
            Cancel
        </button>
        <button kendoButton class="vs-primary" *ngIf="!isEmailSend" [disabled]="forgotPasswordForm.get('email')?.errors?.required" tabindex="0">
            Send
        </button>
      </div>
    </form>
</div>
