@import "../../../../../assets/scss/font.scss";
@import "../../../../../assets/scss/auth-comman.scss";

.forgot-password-wrapper {
    background-color: $white-background-color;
    width: 408px;

    .auth-form-wrapper {
        padding: 20px 55px;

        .forgot-label {
            @extend .primary-font-family-500;
            font-size: 16px;
            line-height: 19px;
            color: $light-title-gray;
            margin-bottom: 10px;
            height: 17px;
        }

        .forgot-password-instruction {
            @extend .primary-font-family-400;
            font-size: 14px;
            line-height: 20px;
            color: $light-title-gray;
            margin-bottom: 20px;
            height: 36px;
        }

        .control-wrapper {
            align-items: baseline;

            .field-wrapper {
                .email-error {
                    @extend .primary-font-family-400;
                    font-style: italic !important;
                    font-size: 12px;
                    line-height: 16px;
                    color: $error-color;
                    margin-top: 5px;
                }
            }
        }
    }

    .button-wrapper {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding-bottom: 20px;
    }
}