@import '../../../../assets/scss/dialog.scss';

.matrixui-configuration-container {
    .header-button-wrapper {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .matrixui-configurations-form-wrapper {
        .form-wrapper {
            display: flex;
            gap: 30px;
            align-items: center;
            padding-bottom: 20px;
            padding-top: 0px !important;

            .form-control-field {
                width: 110px;
                text-align: center;

                .field-text {
                    font-weight: 500 !important;
                }

                &:first-child {
                    width: 135px;
                    text-align: left;
                }
            }

            .range-field {
                margin-left: 28px;

                .v-range-control {
                    width: 358px;
                }

                .range-control-wrapper {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &.sort-order-field-wrapper {
                align-items: start;

                .sort-order-control {
                    display: flex;
                    flex-direction: column;
                    width: 358px;
                    gap: 5px;
                    margin-left: 28px;

                    .v-dropdown {
                        width: auto;
                    }
                }

                .sort-order-description {
                    font-size: 12px;
                }
            }

            &:first-child {
                padding-top: 10px;

                .field-title {
                    font-weight: bold !important;
                    font-size: 15px !important;
                }
            }

            &.form-control-header {
                .form-control-field {
                    text-align: center;
                }
            }
        }
    }
}