<div class="control-wrapper work-order-operation-form">
    <kendo-dropdownlist
        [fillMode]="'outline'"
        [data]="data"
        [disabled]="!enabled"
        [defaultItem]="defaultItem"
        [valuePrimitive]="true"
        textField="value"
        valueField="id"
        class="v-dropdown work-order-operation-form__priority-dropdown"
        [(value)]="selected"
        (valueChange)="selectedId = $event"
    >
    </kendo-dropdownlist>
    <button kendoButton class="vs-secondary work-order-operation-form__confirm-btn" (click)="emitId()" [disabled]="isConfirmationDisabled()">Confirm</button>
</div>
