<kendo-dialog-titlebar (close)="onCancel()">
  <div class="dialog-titlt-wrapper">
      <span>
          Edit Custom Attribute
      </span>
      <span class="breadcrumb-number">
          1.1
      </span>
  </div>
</kendo-dialog-titlebar>

<div class="hotSheet-attribute-form-wrapper">
  <div *ngIf="!isLoading">
  <app-edit-custom-attributes-form *ngIf="attributes?.length > 0 && attributes" [attributes]="attributes" [isSubmit]="isSubmit" (valueChange)="onAttrributeValueChange($event)">
  </app-edit-custom-attributes-form>
  <div *ngIf="attributes?.length === 0 || !attributes" class="no-attributes">
      {{attribute?.name}} Attribute not found.
  </div>
  <div class="dialog-action-wrapper">
      <button type="button" kendoButton class="vs-secondary mr-12 hotsheet-attribute-entry-dialog__cancel-btn" (click)="onCancel()">
          Cancel
      </button>
      <button kendoButton class="vs-primary hotsheet-attribute-entry-dialog__save-btn" (click)="onSubmit()" [disabled]="attributes?.length === 0 || !attributes">
          Save
      </button>
  </div>
  </div>
</div>
<div class="full-page-loader">
    <viztoc-spinner [isLoading]="isLoading"></viztoc-spinner>
</div>