@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/font.scss";

.work-centers-wrapper {
    .header-button-wrapper {
        .vs-secondary {
            width: auto !important;
        }

        .v-multiselect-dropdown {
            min-width: 200px;
            width: auto;
            max-height: 50px;
        }
    }
}
