<app-breadcrumb [path]="path" [index]="index"></app-breadcrumb>
<div class="container work-centers-wrapper">
    <div class="header-button-wrapper">
        <button kendoButton class="vs-secondary mr-12 load-external-work-centers-btn" (click)="onLoadExternalWorkCenters()" [disabled]="isExternalWorkCenterLoading || isLoading">
            Load External Work Centers
            <span class="k-icon k-i-loading button-loading" *ngIf="isExternalWorkCenterLoading"></span>
        </button>
        <div kendoTooltip [tooltipTemplate]="clearTooltipTemplate">
            <kendo-multiselect [data]="workCenterAttributes" [autoClose]="false" [checkboxes]="true" [valuePrimitive]="true"
              textField="name" valueField="name" class="v-multiselect-dropdown work-center-custom-attributes-multidropdown" [placeholder]="'Custom Attributes'"
              (valueChange)="onCustomAttributesChange($event)" [value]="customAttributeAsColumns" [disabled]="isLoading">
            </kendo-multiselect>
        </div>
        <ng-template #clearTooltipTemplate let-anchor>
            <span>Clear</span>
        </ng-template>
    </div>
    <div class="v-grid-wrapper" #gridTooltip="kendoTooltip" kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event, gridTooltip)">
        <kendo-grid [kendoGridBinding]="workCenters" [columnMenu]="true" [loading]="isLoading" [sortable]="true"
            [resizable]="true" [reorderable]="true" filterable="menu" class="work-centers-grid"
            [filter]="gridSettings.state.filter" [sort]="gridSettings.state.sort"
            (dataStateChange)="dataStateChange($event)" (columnReorder)="columnReorder($event)"
            (columnResize)="columnResize($event)" (columnVisibilityChange)="columnVisibilityChange($event)">
            <kendo-grid-column *ngFor="let column of gridSettings.columnConfig"  [title]="column.title"
                [field]="column.field" [width]="column.width" [hidden]="column.hidden"
                [filterable]="column.type === columnType.ACTION ? false : true"
                [sortable]="column.type === columnType.ACTION ? false : true">
                <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.type === columnType.TEXT || column.type === columnType.NUMBER">
                    {{dataItem[column.field]}}
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.type === columnType.COLOR">
                    <div class="colored-cell" [style.background-color]="setCellColorByCode(dataItem[column.field])">
                    </div>
                </ng-template>
                <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem="dataItem" *ngIf="column.type === columnType.CHECKBOX">
                    <input class="k-checkbox k-checkbox-md k-rounded-md" [disabled]="true" type="checkbox"
                        [checked]="dataItem[column.field] === true || (column.isCustomAttribute && dataItem[column.field] === 'true')" />
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.type === columnType.DATE">
                    <div *ngIf="dataItem[column.field] !== ''">
                      {{ dataItem[column.field] | date: 'MM/dd/yyyy' }}
                    </div>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.type === columnType.URL">
                    <a href="{{dataItem[column.field]}}" target="_blank" class="data-url data-value">
                      {{dataItem[column.field]}}
                    </a>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService"
                    *ngIf="column.type === columnType.DATE">
                    <date-range-filter [field]="column.field" [currentFilter]="filter" [filterService]="filterService">
                    </date-range-filter>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService"
                    *ngIf="column.type === columnType.CHECKBOX">
                    <kendo-switch offLabel="No" onLabel="Yes" (valueChange)="onSwitchChange($event, filterService, column.field)"
                        [checked]="filter?.filters[0]?.value">
                    </kendo-switch>
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService"
                    *ngIf="multiCheckFilterColumns.includes(column.field)">
                    <multicheck-filter [data]="filterDataArray[column.field]" [field]="column.field" [currentFilter]="filter" [filterService]="filterService">
                    </multicheck-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.type === columnType.ACTION">
                    <div class="action-button-wrapper">
                        <div kendoTooltip position="top">
                            <button kendoButton [look]="'flat'" title="Edit" (click)="openWorkCenterDialog(dataItem)">
                                <span class="k-icon k-i-edit"></span>
                            </button>
                        </div>
                        <div kendoTooltip position="top">
                            <button kendoButton [look]="'flat'" title="Delete" (click)="onDeleteWorkCenter(dataItem.id)">
                                <span class="k-icon k-i-delete"></span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="!isLoading && ((workCenters === undefined || workCenters?.length === 0) || gridSettings.state?.filter?.filters?.length > 0)">
                    No Data Found</div>
            </ng-template>
        </kendo-grid>
        <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
        </ng-template>
    </div>
    <div kendoDialogContainer></div>
</div>
