<div class="reset-password-wrapper">
    <div class="header-container">
      <span class="title-text">
          Viztoc
      </span>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="auth-form-wrapper">
        <div class="forgot-label">
            Reset Password
        </div>
        <div class="forgot-password-instruction">
            Please enter your new password and confirm it.
        </div>
        <div class="control-wrapper">
          <div class="control-name">
            <div class="control-text">Email:</div>
          </div>
          <div class="field-wrapper">
            <div class="email-label">   
                {{ resetPasswordForm.get('email')?.value }}
            </div>
          </div>
        </div>
        <div class="control-wrapper">
            <div class="control-name">
              <div class="control-text">New Password:</div>
            </div>
            <div class="field-wrapper">
              <kendo-textbox #passwordInput="kendoTextBox" formControlName="newPassword"
                    [ngClass]="{'k-value': resetPasswordForm.get('newPassword')?.value !== ''}">
                <ng-template kendoTextBoxSuffixTemplate *ngIf="resetPasswordForm.get('newPassword')?.value !== ''">
                  <button type="button" kendoButton fillMode="clear"
                            (click)="resetPasswordForm.controls.newPassword.setValue('')" tabindex="-1">
                      <span class="k-icon k-i-x"></span>
                  </button>
                  <button type="button" kendoButton fillMode="clear" *ngIf="!isPasswordVisible"
                    (click)="showPassword(true)" tabindex="-1">
                      <span class="k-icon k-i-eye"></span>
                  </button>
                  <button type="button" kendoButton fillMode="clear" *ngIf="isPasswordVisible"
                    (click)="hidePassword(true)" tabindex="-1">
                      <v-icon class="k-icon" [iconName]="'hide-password'"></v-icon>
                  </button>
                </ng-template>
              </kendo-textbox>
            </div>
        </div>
        <div class="control-wrapper">
            <div class="control-name">
              <div class="control-text">Confirm Password:</div>
            </div>
            <div class="field-wrapper">
              <kendo-textbox #confirmPasswordInput="kendoTextBox" formControlName="confirmPassword"
                    [ngClass]="{'k-value': resetPasswordForm.get('confirmPassword')?.value !== ''}">
                <ng-template kendoTextBoxSuffixTemplate *ngIf="resetPasswordForm.get('confirmPassword')?.value !== ''">
                  <button type="button" kendoButton fillMode="clear"
                            (click)="resetPasswordForm.controls.confirmPassword.setValue('')" tabindex="-1">
                      <span class="k-icon k-i-x"></span>
                  </button>
                  <button type="button" kendoButton fillMode="clear" *ngIf="!isConfirmPasswordVisible"
                    (click)="showPassword(false)" tabindex="-1">
                      <span class="k-icon k-i-eye"></span>
                  </button>
                  <button type="button" kendoButton fillMode="clear" *ngIf="isConfirmPasswordVisible"
                    (click)="hidePassword(false)" tabindex="-1">
                      <v-icon class="k-icon" [iconName]="'hide-password'"></v-icon>
                  </button>
                </ng-template>
              </kendo-textbox>
            </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button type="button" kendoButton class="vs-secondary" (click)="onCancel()">
            Cancel
        </button>
        <button kendoButton class="vs-primary" [disabled]="resetPasswordForm.invalid">
            Set New Password
        </button>
      </div>
    </form>
</div>
