@import "../../../../../assets/scss/font.scss";
@import "../../../../../assets/scss/auth-comman.scss";

.reset-password-wrapper {
    background-color: $white-background-color;
    width: 408px;
    height: 296px;

    .auth-form-wrapper {
        padding: 20px 47px;

        .forgot-label {
            @extend .primary-font-family-500;
            font-size: 16px;
            line-height: 19px;
            color: $light-title-gray;
            margin-bottom: 10px;
            height: 17px;
        }

        .forgot-password-instruction {
            @extend .primary-font-family-400;
            font-size: 14px;
            line-height: 20px;
            color: $light-title-gray;
            margin-bottom: 20px;
            height: 20px;
        }

        .control-wrapper {
            .control-name {
                .control-text {
                    width: 120px !important;
                    text-align: left !important;
                    letter-spacing: 0px !important;
                }
            }
            
            .field-wrapper {
                kendo-textbox {
                    width: 175px !important;
                }

                .email-label {
                    color: $dark-button-gray;
                }
            }
        }
    }

    .button-wrapper {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding-bottom: 20px;

        .vs-primary {
            width: 140px;
        }
    }
}