<kendo-dialog-titlebar (close)="cancel()">
    <div class="dialog-titlt-wrapper">
        <span>
            Work Center Details
        </span>
        <span class="breadcrumb-number">
            4.1.1
        </span>
    </div>
</kendo-dialog-titlebar>
<form [formGroup]="workCenterEntryForm" class="work-center-dialog-wrapper">
    <div class="form-wrapper">
        <div class="row">
            <div class="field-wrapper">
                <div class="title-wrapper">
                    <span>External ID:</span>
                </div>
                <div class="form-control-wrapper">
                    <input kendoTextBox formControlName="workCenterId" class="w-100">
                </div>
            </div>
        </div>
        <div class="work-center-tabs">
            <kendo-tabstrip [keepTabContent]="true">
                <kendo-tabstrip-tab title="Details" [selected]="true">
                    <ng-template kendoTabContent>
                        <div class="row">
                            <div class="field-wrapper">
                                <div class="title-wrapper">
                                    <span>Alias:</span>
                                </div>
                                <div class="form-control-wrapper">
                                    <kendo-textbox class="field-control" formControlName="alias" placeholder="Enter alias"></kendo-textbox>
                                    <small class="error" *ngIf="workCenterEntryForm.get('alias')?.errors?.maxlength">
                                        The maximum length for this field is {{workCenterEntryForm.get('alias').errors.maxlength?.requiredLength}} characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-wrapper align-items-start">
                                <div class="title-wrapper v-mt-5">
                                    <span>Group:</span>
                                </div>
                                <div class="form-control-wrapper">
                                    <kendo-multiselect [data]="vizerDisplayGroups" [autoClose]="false" [checkboxes]="true" [valuePrimitive]="true" textField="name"
                                        [placeholder]="'Select vizer display group'" valueField="id" formControlName="vizerDisplayGroupIds" class="v-multiselect-dropdown"
                                        [kendoDropDownFilter]="multiSelectFilter" (open)="onMultiSelectOpen($event)">
                                    </kendo-multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-wrapper">
                                <div class="title-wrapper">
                                    <span>Description:</span>
                                </div>
                                <div class="form-control-wrapper">
                                    <kendo-textbox class="field-control" formControlName="description" placeholder="Enter description"></kendo-textbox>
                                    <small class="error" *ngIf="workCenterEntryForm.get('description')?.errors?.maxlength">
                                        The maximum length for this field is {{workCenterEntryForm.get('description').errors.maxlength?.requiredLength}} characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-wrapper">
                                <div class="title-wrapper">
                                    <span>Color:</span>
                                </div>
                                <div class="form-control-wrapper">
                                    <kendo-colorpicker [format]="'hex'" class="v-colorpicker" formControlName="color" [preview]="true" (close)="onChangeColor('color')"></kendo-colorpicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-wrapper">
                                <div class="title-wrapper">
                                    <span>Font Color:</span>
                                </div>
                                <div class="form-control-wrapper">
                                    <kendo-colorpicker [format]="'hex'" class="v-colorpicker" formControlName="fontColor" [preview]="true" (close)="onChangeColor('fontColor')"></kendo-colorpicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-wrapper">
                                <div class="title-wrapper">
                                    <span>Critical Constraint:</span>
                                </div>
                                <div class="form-control-wrapper">
                                    <input type="checkbox" class="v-checkbox" formControlName="criticalConstraint" [rounded]="'medium'" kendoCheckBox />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="Custom Attributes">
                    <ng-template kendoTabContent>
                        <div class="custom-attribute-tab-wrapper">
                            <app-edit-custom-attributes-form *ngIf="workCenterAttributes && workCenterAttributes?.length > 0"
                                [attributes]="workCenterAttributes" [isSubmit]="isSubmit" (valueChange)="onAttrributeValueChange($event)">
                            </app-edit-custom-attributes-form>
                            <div *ngIf="workCenterAttributes?.length === 0 || !workCenterAttributes" class="no-attributes">
                                There is no custom attributes available for work center.
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>
        <div class="dialog-action-wrapper">
            <button kendoButton (click)="cancel()" class="vs-secondary mr-12">Cancel</button>
            <button kendoButton [primary]="true" [disabled]="!workCenterEntryForm.valid" (click)="onSaveWorkCenter()" class="vs-primary">Save</button>
        </div>
    </div>
</form>
<div class="full-page-loader">
    <viztoc-spinner [isLoading]="isLoading"></viztoc-spinner>
</div>