<app-breadcrumb [path]="path" [index]="index"></app-breadcrumb>
<div class="container">
  <div class="work-related-illness-injuries-wrapper">
    <div class="header-button-wrapper">
      <button kendoButton class="vs-secondary new-incident-btn" [disabled]="isLoading" (click)="onCreateWorkRelatedIncidentRecord()">
        New Incident
      </button>
    </div>
  </div>
  <div class="v-grid-wrapper" kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event)">
    <kendo-grid [kendoGridBinding]="workrRelatedInjuryData" [loading]="isLoading" [columnMenu]="true" [sortable]="true"
     [resizable]="true" [reorderable]="true" filterable="menu" [pageSize]="pageSize"
     [filter]="gridSettings.state.filter" [sort]="gridSettings.state.sort"
    (dataStateChange)="dataStateChange($event)" (columnReorder)="columnReorder($event)"
    (columnResize)="columnResize($event)" (columnVisibilityChange)="columnVisibilityChange($event)"
    [pageable]="(workrRelatedInjuryData.length > 0) ? {
      buttonCount: 5,
      info: true,
      type: 'numeric',
      pageSizes: pageSizes,
      previousNext: true,
      position: 'bottom',
      responsive: true
      } : false">
      <kendo-grid-column *ngFor="let column of gridSettings.columnConfig" [title]="column.title" [field]="column.field"
        [width]="column.width" [hidden]="column.hidden" [filterable]="column.type === columnType.ACTION ? false : true"
        [sortable]="column.type === columnType.ACTION ? false : true">
        <ng-template kendoGridCellTemplate let-dataItem
          *ngIf="column.field !== 'incidentType' && column?.field !== 'incidentOutcome' && column.type === columnType.TEXT || column.type === columnType.NUMBER">
            {{dataItem[column.field]}}
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem  *ngIf="column?.field === 'incidentOutcome' && entryInitializeData?.incidentOutcome">
          {{entryInitializeData.incidentOutcome[dataItem[column.field]]}}
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem  *ngIf="column.field === 'incidentType' && entryInitializeData?.incidentTypes">
          {{entryInitializeData.incidentTypes[dataItem[column.field]]}}
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.type === columnType.DATE">
            <div *ngIf="dataItem[column.field] !== ''">
              {{ dataItem[column.field] | date: 'MM/dd/yyyy' }}
            </div>
        </ng-template>
        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService" *ngIf="column.type === columnType.DATE">
          <date-range-filter [field]="column.field" [currentFilter]="filter" [filterService]="filterService">
          </date-range-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
          *ngIf="column.type === columnType.ACTION">
          <div class="action-button-wrapper">
            <div kendoTooltip position="top">
                <button kendoButton [look]="'flat'" title="Edit" (click)="onEditWorkRelatedInjuryDataById(dataItem.id)">
                    <span class="k-icon k-i-edit"></span>
                </button>
            </div>
            <div kendoTooltip position="top">
                <button kendoButton [look]="'flat'" title="Delete" (click)="onDeleteWorkRelatedInjuryDataById(dataItem.id)">
                    <span class="k-icon k-i-delete"></span>
                </button>
            </div>
        </div>
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridNoRecordsTemplate>
        <div *ngIf="!isLoading && ((workrRelatedInjuryData === undefined || workrRelatedInjuryData?.length === 0) || gridSettings.state?.filter?.filters?.length > 0)">No Data Found</div>
      </ng-template>
    </kendo-grid>
  </div>
</div>
<ng-template #template let-anchor class="v-tooltip">
  <span>{{ anchor.nativeElement.innerText }}</span>
</ng-template>
<div kendoDialogContainer></div>
